<a href="https://colab.research.google.com/github/connorkun/Collab/blob/main/python_primer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **A Python Primer** ðŸ

In [1]:
print("welcome to Python!")

welcome to Python!

## **Assignment statements**

Assignment statements are used to (re)bind names to values and to modify attributes or items of mutable objects. An assignment statement is evaluated [from right to left](https://docs.python.org/3.10/reference/expressions.html#evaluation-order) and assigns each resulting object to its respective name.

In [5]:
x = "hello"

In [4]:
x, y = "hello", "world"

In [3]:
x = y = "hello"

In [2]:
# modifying a mutable type
nums = [1, 2, 3, 4, 5]

nums[0], nums[1] = 20, 21
nums[2] = nums[3] = nums[4]

nums

[20, 21, 5, 5, 5]

Python supports a number of [**augmented assignment statements**](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements) i.e. the combination, in a single statement, of a binary operation (such as `+` and `-`) and an assignment statement. There are no unary increment (`x++`) or decrement (`x--`) operators.

In [6]:
x = 10

x += 2 # x = 10 + 2
x /= 6 # x = 12 / 6

x

2.0

## **Control Flow Tools**

In [7]:
x = int(input("enter an integer x: "))
y = int(input("enter an integer y: "))

if x > y:
  print(f"{x} > {y}")
elif x == y:
  print(f"{x} == {y}")
else:
  print(f"{x} < {y}")

enter an integer x: 5
enter an integer y: 7
5 < 7

## **Loops**

In [8]:
counter = 0

while counter <= 5:
  print(counter)
  counter = counter + 1

0
1
2
3
4
5

In [14]:
for number in range(1, 6):
  print(number)

else:
  print('done')

1
2
3
4
5
done

In [10]:
my_string = "hello world!"

for indx, char in enumerate(my_string):
  print(indx, char)

0 h
1 e
2 l
3 l
4 o
5
6 w
7 o
8 r
9 l
10 d
11 !

In [12]:
my_string = "hello world!"

for indx, char in enumerate(my_string):
  if char == " ": break
  if char == "o": continue
  print(indx, char)

0 h
1 e
2 l
3 l

## **Comparisons and Membership Test Operations**

### **Value Comparison Operations** `<, <=, >, >=, !=, ==`

#### ðŸŒŠðŸŒŠ for a deep dive see [\[ 1 \]](https://docs.python.org/3/reference/expressions.html#value-comparisons).

In [15]:
x, y = 10, 20

print("x != y", x != y)
print("x == y", x == y)
print("x < y", x < y)
print("x <= y", x <= y)
print("x > y", x > y)
print("x >= y", x >= y)

x != y True
x == y False
x < y True
x <= y True
x > y False
x >= y False

### **Identity Comparison Operations** `is, is not`
#### ðŸŒŠðŸŒŠ for a deep dive see [\[ 1 \]](https://docs.python.org/3/reference/expressions.html#is-not).

In [19]:
x = 257
y = 257

x is y

False

In [17]:
x is not y

True

Python pre-loads a global list of integers in the range $-5$ to $256$. Any time an integer in this range is referenced Python does not create new one but uses the cached version. This is known as **integer interning**.

Interning saves memory and can thus improve performance and memory footprint of a program. The downside is time required to search for existing values of objects which are to be interned.

In [18]:
# integer interning
x = 256
y = 256

x is y

True

### **Membership Test Operations** `in, not in`
#### ðŸŒŠðŸŒŠ for a deep dive see [\[ 1 \]](https://docs.python.org/3/reference/expressions.html#membership-test-operations).

The operators `in` and `not in` test for membership. `x` in `s` evaluates to `True` if `x` is a member of `s`, and `False` otherwise. `x not in s` returns the negation of `x in s`. All **built-in sequences** and **set types** support this as well as **dictionary**, for which `in` tests whether the dictionary has a given key.

In [20]:
# `in` and `not in` are not supported for non-sequence types
x = 12
# 1 in x

In [23]:
# strings: y in x is True if y is a substring of x
x, y = "hello", "llo"
y in x

True

In [22]:
# lists
a_list = [1, 2, 3, 4, 5]
4 in a_list

True

In [24]:
# dictionaries
d = {"a":1, "b":2, "c":3, "d":4, "e":5}

# membership test for keys
print("b in d", "b" in d)

# membership test for values
print("2 in d", 2 in d.values())

# membership test for key-value pairs
print("('a', 1) in d", ("a", 1) in d.items())

b in d True
2 in d True
('a', 1) in d True

## **Boolean Types and Operations**

The Python boolean type has only two possible values: `True` and `False`.


In the context of Boolean operations, and also when expressions are used by control flow statements, the following values are interpreted as false: `False`, `None`, numeric zero of all types, and empty strings and containers (including strings, tuples, lists, dictionaries, sets and frozensets). All other values are interpreted as true.

Note that both `and` and `or` are **short-circuit operators** and that neither of them restrict the value and type they return to `False` and `True`, but rather return the last evaluated argument:

- `x or y` if `x` is false, then `y`, else `x`
- `x and y` if `x` is false, then `x`, else `y`

#### ðŸŒŠðŸŒŠ for a deep dive see [\[ 1 \]](https://docs.python.org/3/reference/expressions.html#boolean-operations), [\[ 2 \]](https://docs.python.org/3/library/stdtypes.html?highlight=boolean#truth-value-testing), [\[ 3 \]](https://docs.python.org/3/library/stdtypes.html?highlight=boolean#boolean-operations-and-or-not) and [\[ 4 \]](https://docs.python.org/3/reference/expressions.html#operator-precedence).

In [25]:
# False, None, 0 and empty sequences evaluate to False
x, y, z, j = False, None, 0, ""

print("x", x, bool(x))
print("y", y, bool(y))
print("z", z, bool(0))
print("j", j, bool(j))

x False False
y None False
z 0 False
j  False

In [26]:
# boolean operators: and, or, not
print("True or False", True or False)
print("True and False", True and False)
print("not(True and False)", not (True and False))

True or False True
True and False False
not(True and False) True

In [27]:
# short-circuiting: x or y (if x is False, then y, else x)
a, b = "", "default"
c = a or b
c

'default'

In [28]:
# short-circuiting: x and y (if x is False, then x, else y)
a, b = 10, 0
c = b and (a / b)
c

0

In [29]:
# operator precedence (and before or)
True or True and False

True

In [30]:
# operator precedence (parenthesized expression)
(True or True) and False

False

## **Numbers**

### **Basic operations**

In [31]:
2 + 2 * 3

8

In [32]:
# priority can be changed by using round brakets
(2 + 2) * 3

12

In [33]:
# ** is the exponentiation operator
10 ** 3

1000

In [34]:
# pow(x, y) is an alternative to x**y
pow(10, 3)

1000

In [35]:
# classic division x / y returns a float
5 / 2

2.5

In [36]:
# floor division discards the fractional part
5 // 2

2

In [37]:
# the modulo returns the remainder of the division
10 % 6

4

Before any arithmetic operation, numeric arguments are converted to a common type:

- if either argument is a complex number, the other is converted to complex;

- if either argument is a floating point number, the other is converted to floating point;

- if both arguments are of the same type no conversion is necessary.

Some additional rules apply for certain operators and custom-defined objects.

#### ðŸŒŠðŸŒŠ for a deep dive see [\[ 1 \]](https://docs.python.org/3/reference/expressions.html#arithmetic-conversions) and [\[ 2 \]](https://www.pythonmorsels.com/type-coercion/)

In [39]:
# arithmetic conversions - some examples
print("2 + 2 =", 2 + 2, "type:", type(2 + 2))
print("2 + 2.0 =", 2 + 2.0, "type:", type(2 + 2.0))
print("4 % 2 =", 4 % 2, "type:", type(4 % 2))
print("4 % 2.0 =", 4 % 2.0, "type:", type(4 % 2.0))

2 + 2 = 4 type: <class 'int'>
2 + 2.0 = 4.0 type: <class 'float'>
4 % 2 = 0 type: <class 'int'>
4 % 2.0 = 0.0 type: <class 'float'>

## **Exercise Break** ðŸ‘©â€ðŸ’» ðŸ‘¨â€ðŸ’»

### **Fibonacci**
Write a small script to compute the [Fibonacci sequence](https://en.wikipedia.org/wiki/Fibonacci_number) up to the ${7th}$ number (included) using a `while` loop. Once you are done, translate your `while` implementation into a `for` loop.

$$F_0 = 0, F_1 = 1$$
$$F_n = F_{n-1} + F_{n-2}$$
$$\text{for } n > 1$$

In [53]:
fir, sec = 0, 1
count = 1

while count <= 7:
  print(fir)
  fir, sec = sec, fir+sec
  count += 1

0
1
1
2
3
5
8

In [40]:
# your `while` implementation

In [62]:
# your `for` implementation
fir, sec = 0, 1

for num in range(7):
  print(fir)
  fir, sec = sec, fir+sec
  num += 1

0
1
1
2
3
5
8

### **Fibonacci (solution)**

In [60]:
# `while` loop implementation
a, b, n = 0, 1, 7

while n > 0:
  print(a)
  a, b = b, a+b
  n -= 1

0
1
1
2
3
5
8

In [61]:
# `for` loop implementation
a, b, n = 0, 1, 7

for _ in range(7):
  print(a)
  a, b = b, a+b

0
1
1
2
3
5
8

### **Odd numbers**
Write a small script to retrieve all odd numbers from $1$ up to $100$ (included) using a `while` loop. Once you are done, translate your `while` implementation into a `for` loop.

In [65]:
# your `while` implementation
num = 1

while num <= 101:
  if num % 2 == 0:
    num += 1
  else:
    print(num)
    num += 1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101

In [66]:
# your `for` implementation

for num in range(1, 102):
  if num % 2 == 0:
    num += 1
  else:
    print(num)
    num += 1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101

### **Odd numbers (solution)**

In [67]:
# `while` loop implementation
n = 1

while n <= 100:
  if n%2 != 0: print(n)
  n += 1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [47]:
# `for` loop implementation
for n in range(1, 101):
  if n%2 != 0: print(n)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

## **Text Sequence Types** (strings)

Textual data in Python is handled with `str` objects. Strings are immutable sequences of Unicode code points. String literals can be written in a number of ways: `'hello'`, `"hello"`, `'''hello'''`, `"""hello"""`.

### **Basic operations**
#### ðŸŒŠðŸŒŠ for a deep dive see [\[ 1 \]](https://docs.python.org/3/library/stdtypes.html?highlight=str#string-methods)

In [68]:
# string comparison
"hello" == "world"

False

In [69]:
# string concatenation
"hello" + " " + "world"

'hello world'

In [70]:
# strings are immutable
x = "hello"
print("id(x)", id(x))

x += " world!"
print("id(x)", id(x))

id(x) 139927306567600
id(x) 139927093220848

In [71]:
# string interning
x, y = "hello", "hello"
z, j = "hello world!", "hello world!"

print(x is y)
print(z is j)

True
False

In [72]:
s = "       These Are Not The Droids You Are Looking For...     "

In [73]:
# remove leading and trailing white spaces
s = s.strip()
s

'These Are Not The Droids You Are Looking For...'

In [74]:
# lowercase the entire string
s = s.lower()
s

'these are not the droids you are looking for...'

In [75]:
# replace ellipsis with empty space
s = s.replace("...", "")
s

'these are not the droids you are looking for'

In [76]:
# split string into a list of word tokens
tokens = s.split()
tokens

['these', 'are', 'not', 'the', 'droids', 'you', 'are', 'looking', 'for']

### **Custom String Formatting and f-strings**
#### ðŸŒŠðŸŒŠ for a deep dive see [\[ 1 \]](https://docs.python.org/3/library/string.html#format-string-syntax) and [\[ 2 \]](https://docs.python.org/3/reference/lexical_analysis.html#formatted-string-literals)

In [77]:
# format string with `str.format()`
answer = 42
"The answer is {}".format(answer)

'The answer is 42'

In [78]:
# format string with f-string
answer = 42
f"The answer is {answer}"

'The answer is 42'

### **Slicing strings**

In [79]:
# s[i] (get ith item in a string)
x = "hello world"

print(f"second character in x: {x[1]}")
print(f"second to last character in x: {x[-2]}")

second character in x: e
second to last character in x: l

In [80]:
# s[i:j] (from the ith to the jth item excluded)
x = "hello world"

print(f"first 4 characters in x: {x[0:4]}")
print(f"first 3 characters in x: {x[:3]}")
print(f"last 4 characters in x: {x[-4:]}")

first 4 characters in x: hell
first 3 characters in x: hel
last 4 characters in x: orld

In [81]:
# s[i:j:k] (from the ith to the jth item excluded, with step k)
x = "hello world"

print(f"every other character in x: {x[::2]}")
print(f"every other character in x: {x[0:11:2]}")
print(f"last 4 characters in x (backward): {x[:-5:-1]}")

every other character in x: hlowrd
every other character in x: hlowrd
last 4 characters in x (backward): dlro

### **Using `str.translate`**
`str.translate` returns a copy of the string in which each character has been mapped through the given translation table. `str.maketrans(x[, y[, z]])` returns a translation table that cab be used for `str.translate()`.

#### ðŸŒŠðŸŒŠ for a deep dive see [\[ 1 \]](https://docs.python.org/3/library/stdtypes.html#str.translate) and [\[ 2 \]](https://docs.python.org/3/library/stdtypes.html#str.maketrans)

In [82]:
s = "I find your lack of faith disturbing..."

# single dict arg, mapping lowercase vowels to uppercase ones
vowels = {"a": "A", "e": "E", "i": "I", "o": "O", "u": "U"}
table = str.maketrans(vowels)

s = s.translate(table)
s

'I fInd yOUr lAck Of fAIth dIstUrbIng...'

In [85]:
s = "I find your lack of faith disturbing..."

# the two strings ("fi", "__") must have the same len
table = str.maketrans("fi", "ah")

s = s.translate(table)
s

'I ahnd your lack oa aahth dhsturbhng...'

In [84]:
s = "I find your lack of faith disturbing..."

# the third string arg specify items to be removed
table = str.maketrans("", "", ".")

s = s.translate(table)
s

'I find your lack of faith disturbing'

## **Sequence Types** (lists, tuples, ranges)

### **Lists**
Lists are mutable compound data types which can be written as a sequence of comma-separated values between square brackets. Lists can store items of different types.

#### ðŸŒŠðŸŒŠ for a deep dive see [\[ 1 \]](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists)

In [86]:
# sequence types support slicing (lists, strings, tuples, ranges...)
my_list = ["these", "are", "not", "the", "droids", "you", "are", "looking", "for"]

print(f"2nd item in my_list: {my_list[:1]}")
print(f"1st, 2nd, 3rd item: {my_list[:3]}")

2nd item in my_list: ['these']
1st, 2nd, 3rd item: ['these', 'are', 'not']

In [87]:
# appending single items to a list
my_list = ["hello", "world"]

my_list.append("!!!")
my_list

['hello', 'world', '!!!']

In [88]:
# joining items into a string
" ".join(my_list)

'hello world !!!'

In [89]:
# joining two lists
my_list_1 = ["these", "are", "not", "the", "droids"]
my_list_2 = ["you", "are", "looking", "for"]

# a new list is created
my_list_1 + my_list_2

['these', 'are', 'not', 'the', 'droids', 'you', 'are', 'looking', 'for']

In [90]:
# extending lists
my_list_1 = ["these", "are", "not", "the", "droids"]
my_list_2 = ["you", "are", "looking", "for"]

# my_list_2 is updated
my_list_2.extend(my_list_1)
my_list_2

['you', 'are', 'looking', 'for', 'these', 'are', 'not', 'the', 'droids']

In [91]:
# remove all items from a list
my_list = ["the", "answer", "is", "42"]

my_list.clear()
my_list

[]

In [92]:
# pop an item from a list (the item is removed and returned)
my_list = ["the", "answer", "is", "42"]

first = my_list.pop(1)
last = my_list.pop()

print(first, last)

answer 42

In [93]:
# remove an item from a list (remove the first instance of the item)
my_list = ["the", "answer", "is", "the", "number", "42"]

my_list.remove("the")
my_list

['answer', 'is', 'the', 'number', '42']

In [94]:
# nested lists: a matrix example
my_matrix = [[1, 2, 3],
             [4, 1, 6],
             [7, 8, 1]]

In [95]:
# get the first row of my_matrix
my_matrix[0]

[1, 2, 3]

In [96]:
# get the last item in the first row
my_matrix[0][-1]

3

### **Tuples**
Tuples are immutable sequences, typically used to store collections of heterogeneous or homogeneous data.

#### ðŸŒŠðŸŒŠ for a deep dive see [\[ 1 \]](https://docs.python.org/3/library/stdtypes.html#tuples) and [\[ 2 \]](https://docs.python.org/3/tutorial/datastructures.html?highlight=tuple#tuples-and-sequences)

In [97]:
# sequence types support slicing (lists, strings, tuples, ranges...)
my_tuple = ("this", "is", "a", "tuple")

print(f"2nd item in my_tuple: {my_tuple[:1]}")
print(f"1st, 2nd and 3rd item: {my_tuple[:3]}")

2nd item in my_tuple: ('this',)
1st, 2nd and 3rd item: ('this', 'is', 'a')

In [98]:
# an empty tuple
my_tuple = ()
my_tuple

()

In [99]:
# tuples are immutable, but their values may change!
my_tuple = (["The", "answer"], ["is", 42])
my_tuple[1][1] = "???"
my_tuple

(['The', 'answer'], ['is', '???'])

In [100]:
my_tuple = "hello", "world", "!!!"
my_tuple

('hello', 'world', '!!!')

In [101]:
my_tuple = "hello",
my_tuple

('hello',)

In [102]:
my_tuple = ("hello",)
my_tuple

('hello',)

### **Ranges**
The range type represents an immutable sequence of numbers and is commonly used for looping a specific number of times in for loops. The range constructor accepts up to three (integer) arguments:
- `start`: the value the resulting sequence starts from ($0$ by default);
- `stop`: the last value of the sequence (not included);
- `step`: the increment between each number in the sequence ($1$ by default).

#### ðŸŒŠðŸŒŠ for a deep dive see [\[ 1 \]](https://docs.python.org/3/tutorial/controlflow.html?highlight=ranges#the-range-function) and [\[ 2 \]](https://docs.python.org/3/library/stdtypes.html#ranges)

In [103]:
# create a sequence specifying [stop]
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
# create a sequence specifying [start, stop]
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [105]:
# create a sequence specifying [start, stop, step]
list(range(0, -10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

## **Exercise Break** ðŸ‘©â€ðŸ’» ðŸ‘¨â€ðŸ’»

### **Palindromes**
Write a small script that checks whether the sequences in the given `seq` list are palindromes (read the same backward as forward, excluding punctuation and white spaces). Try to do this using string slicing after taking care of the required normalization steps (maybe with `str.translate`?).

In [174]:
seq = [
       "Anna! ",
       "Never odd  , or even...",
       " Madam, I'm Adam.",
       "Was  it... a cat I saw?!",
]

# your implementation
table = str.maketrans("!?,.'", "     ")


for word in seq:
  n = int(len(word)/2)
  word = word.translate(table).strip().replace(" ", "").lower()
  if word[:n-1] == word[:-n:-1]:
    print(word + " is palindrome")
  else:
    print(word + " is not palindrome")

anna is palindrome
neveroddoreven is palindrome
madamimadam is palindrome
wasitacatisaw is palindrome

### **Palindromes (solution)**

In [175]:
# palindromes implementation
seq = [
       "Anna! ",
       "Never odd  , or even...",
       " Madam, I'm Adam.",
       "Was  it... a cat I saw?!",
]

for item in seq:
  item = item.translate(
      str.maketrans(item, item.lower(), " '!?,.")
      )
  print(item == item[::-1])

True
True
True
True

## **Set Types**

### **Sets**
A set is a mutable, unordered collection of distinct [**hashable**](https://docs.python.org/3/glossary.html#term-hashable) (and therefore immutable) objects. Common uses include membership testing, removing duplicates from a sequence, and computing mathematical operations such as intersection, union, difference, and symmetric difference.

#### ðŸŒŠðŸŒŠ for a deep dive see [\[ 1 \]](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset)

In [176]:
my_set = {"a", "a", "b", "c", "d", "e"}
my_set

{'a', 'b', 'c', 'd', 'e'}

In [195]:
# sets are unordered, no indexing allowed!
my_set[0]

TypeError: ignored

In [193]:
# add and remove items from sets
my_set = {"a", "b", "c"}

my_set.add("d")
my_set.remove("a")
my_set.add("d")
my_set

{'b', 'c', 'd'}

In [192]:
# create a set from a sequence
my_list = ["a", "a", "b"]
my_set_1 = set(my_list)
print(f"my_set_1: {my_set_1}")

my_string = "abracadabra"
my_set_2 = set(my_string)
print(f"my_set_2: {my_set_2}")

my_set_1: {'a', 'b'}
my_set_2: {'a', 'b', 'd', 'c', 'r'}

In [191]:
# intersection
it = set("buongiorno")
fr = set("bonjour")
set.intersection(it, fr)

{'b', 'n', 'o', 'r', 'u'}

In [190]:
# union
it = set("buongiorno")
fr = set("bonjour")
set.union(it, fr)

{'b', 'g', 'i', 'j', 'n', 'o', 'r', 'u'}

## **Mapping Types**

### **Dictionaries**
A dictionary is a mutable set of `{key: value}` pairs, with the requirement that the keys are unique, [**hashable**](https://docs.python.org/3/glossary.html#term-hashable) (and therefore immutable) values that map to arbitrary objects.

#### ðŸŒŠðŸŒŠ for a deep dive see [\[ 1 \]](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict)

In [179]:
my_dict = {"Luke": "jedi",
           "Han Solo": "smuggler",
           "Darth Vader": "sith lord"}

In [180]:
# get a view of the dictionary's keys
my_dict.keys()

dict_keys(['Luke', 'Han Solo', 'Darth Vader'])

In [181]:
# get a view of the dictionary's values
my_dict.values()

dict_values(['jedi', 'smuggler', 'sith lord'])

In [182]:
# get a view of the dictionary's items
my_dict.items()

dict_items([('Luke', 'jedi'), ('Han Solo', 'smuggler'), ('Darth Vader', 'sith lord')])

In [183]:
# retrieving values given a key
my_dict["Luke"]

'jedi'

In [189]:
# KeyError if the given key is not found
my_dict["Obi-Wan"]

'jedi'

In [185]:
# retrieving values from a dictionary in a safe way
my_dict.get("Obi-Wan", "I sense a disturbance the Force...")

'I sense a disturbance the Force...'

In [186]:
# add a new item to the dictionary
my_dict["Obi-Wan"] = "jedi"
my_dict

{'Darth Vader': 'sith lord',
 'Han Solo': 'smuggler',
 'Luke': 'jedi',
 'Obi-Wan': 'jedi'}

In [187]:
# add a new {key: val} pair to the dictionary
my_dict.update({"Yoda": "jedi"})
my_dict

{'Darth Vader': 'sith lord',
 'Han Solo': 'smuggler',
 'Luke': 'jedi',
 'Obi-Wan': 'jedi',
 'Yoda': 'jedi'}

In [188]:
# iterating over a dictionary
for key, value in my_dict.items():
  print(f"{key}: {value}")

Luke: jedi
Han Solo: smuggler
Darth Vader: sith lord
Obi-Wan: jedi
Yoda: jedi

## **Zipping iterables**

### **`zip()`**
`zip()` iterates over several iterable objects (strings, lists...) in parallel, producing tuples with an item from each one.

#### ðŸŒŠðŸŒŠ for a deep dive see [\[ 1 \]](https://docs.python.org/3/library/functions.html#zip)

In [196]:
# zipping lists
names = ["Harry", "Ron", "Snape"]
roles = ["student", "student", "professor"]

list(zip(names, roles))

[('Harry', 'student'), ('Ron', 'student'), ('Snape', 'professor')]

In [197]:
# zipping strings
str_1 = "Minerva"
str_2 = "McGonagall"

list(zip(str_1, str_2))

[('M', 'M'),
 ('i', 'c'),
 ('n', 'G'),
 ('e', 'o'),
 ('r', 'n'),
 ('v', 'a'),
 ('a', 'g')]

## **Comprehensions**

### **List Comprehensions**

#### ðŸŒŠðŸŒŠ for a deep dive see [\[ 1 \]](https://docs.python.org/3/tutorial/datastructures.html?highlight=comprehensions#list-comprehensions)

In [198]:
# get list of squares from 1 to 100 (included)

# for-loop approach
squares_for = []

for num in range(1, 101):
  squares_for.append(num ** 2)

# list comprehension
squares_com = [num ** 2 for num in range(1, 101)]

squares_for == squares_com

True

In [199]:
# get even numbers from 1 to 100 (included)

# for-loop approach
even_for = []

for num in range(1, 101):
  if num % 2 == 0: even_for.append(num)

# list comprehension
even_com = [num for num in range(1, 101) if num % 2 == 0]

even_for == even_com

True

In [200]:
# for numbers from 1 to 100 (included) print "E" if even, "O" if odd

# for-loop approach
nums_for = []

for num in range(1, 101):
  if num % 2 == 0: nums_for.append("E")
  else: nums_for.append("O")

# list comprehension
nums_com = ["E" if num%2 == 0 else "O" for num in range(1, 101)]

nums_for == nums_com

True

### **Dictionary Comprehensions**

#### ðŸŒŠðŸŒŠ for a deep dive see [\[ 1 \]](https://docs.python.org/3/tutorial/datastructures.html?highlight=comprehensions#dictionaries)

In [201]:
words = ["use", "the", "force", "luke"]
words = {word: f"{word}!" for word in words}
words

{'force': 'force!', 'luke': 'luke!', 'the': 'the!', 'use': 'use!'}

## **Exercise Break ðŸ‘©â€ðŸ’» ðŸ‘¨â€ðŸ’»**

### **Get the positives**
Given `nums`, a list of positive and negative floating-point numbers, use a list comprehension to create a new list `new_nums`. The new list should store only the positive values after they have been converted to integers (use `int()` to convert floats to integers).

In [212]:
nums = [1.12, -3.2, -4.7, 10.0, 5.1, -8.3]

# your implementation

new_nums = [int(num) for num in nums if num>0]
print(new_nums)

[1, 10, 5]

### **Get the positives (solution)**

In [203]:
# get the positives implementation
nums = [1.12, -3.2, -4.7, 10.0, 5.1, -8.3]

new_nums = [int(num) for num in nums if num > 0]
new_nums

[1, 10, 5]

### **Star Wars**
Given two lists `names` and `roles`, create a dictionary `star_wars` where each name is a key and has a role as its value `{name: role, ..., name: role}`. Use a dictionary comprehension.

In [217]:
names = ["Han Solo", "Obi-wan", "Luke", "Darth Vader"]
roles = ["smuggler", "jedi", "jedi", "sith lord"]

# your implementation

star_wars = {name: role for name, role in zip(names, roles)}
star_wars

{'Darth Vader': 'sith lord',
 'Han Solo': 'smuggler',
 'Luke': 'jedi',
 'Obi-wan': 'jedi'}

### **Star Wars (solution)**

In [216]:
# Star Wars implementation
names = ["Han Solo", "Obi-wan", "Luke", "Darth Vader"]
roles = ["smuggler", "jedi", "jedi", "sith lord"]

star_wars = {name: role for name, role in zip(names, roles)}
star_wars

{'Darth Vader': 'sith lord',
 'Han Solo': 'smuggler',
 'Luke': 'jedi',
 'Obi-wan': 'jedi'}

### **Transpose M**
Write a script to transpose the matrix $\mathbf{M}$ using a list comprehension. Your result should match with $\mathbf{M}^\top$.

$$\mathbf{M} = \begin{bmatrix}
1 & 2 & 3\\
4 & 5 & 6\\
7 & 8 & 9\\
\end{bmatrix}$$

$$\mathbf{M}^\top = \begin{bmatrix}
1 & 4 & 7\\
2 & 5 & 8\\
3 & 6 & 9\\
\end{bmatrix}$$

In [230]:
m = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

# your implementation

result = [list(row) for row in zip(*m)]
result

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### **Transpose M (solution)**

In [207]:
# transpose M implementation

m = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

m_t = [list(row) for row in zip(*m)]
m_t

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### **Transpose (a less elegant solution)**

In [231]:
# transpose M implementation

m = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

m_t = []

for i in range(len(m[0])):
    trow = []
    for row in m:
        trow.append(row[i])
    m_t.append(trow)
m_t

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

## **Functions**

### **Defining Functions**
The keyword `def` introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented.

#### ðŸŒŠðŸŒŠ for a deep dive see [\[ 1 \]](https://docs.python.org/3/tutorial/controlflow.html#defining-functions) and [\[ 2 \]](https://docs.python.org/3/reference/compound_stmts.html#function-definitions)

In [232]:
def my_function(arg1, arg2="default value", *args, **kwargs):
  print(f"mandatory positional arg {arg1}")
  print(f"optional  potisional arg {arg2}")
  print(f"optional  potisional arg {args}")
  print(f"optional  keyword arg    {kwargs}")
  return "DONE"

my_function(1, 2, 3, 4, a=20, b=21, c=22, d=23)

mandatory positional arg 1
optional  potisional arg 2
optional  potisional arg (3, 4)
optional  keyword arg    {'a': 20, 'b': 21, 'c': 22, 'd': 23}

'DONE'

In [233]:
# beware of mutable default arguments
def my_function(item, my_list=[]):
  my_list.append(item)
  return my_list

# first call
res = my_function("item 1")

# second call
res = my_function("item 2")

# third call
res = my_function("item 3")

# my_list always points to the same object!
res

['item 1', 'item 2', 'item 3']

In [234]:
# how to treat mutable arguments
def my_function(item, my_list=None):
  my_list = [] if not my_list else my_list
  my_list.append(item)
  return my_list

# first call
res = my_function("item 1")

# second call
res = my_function("item 2")

# third call
res = my_function("item 3")

# a new list is initialized at each call
res

['item 3']

## **Exercise Break ðŸ‘©â€ðŸ’» ðŸ‘¨â€ðŸ’»**

### **Tokenizer**
Write a function `tokenize` that accept a string of text and tokenize it, returning both words and punctuation marks as separate tokens.

For example, `tokenize("this, is just... an example")` should output `['this', ',', 'is', 'just', '.', '.', '.', 'an', 'example']`.

Make sure that your function is able to cover a wide range of punctuation marks !"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~.

You can get the previous list of ASCII characters using `from string import punctuation`.

In [244]:
# your implementation
from string import punctuation

def tokenize(string):
  print(string.split())

  
tokenize("This is just, an example..")

['This', 'is', 'just,', 'an', 'example..']

### **Tokenizer (solution)**

In [ ]:
# tokenizer implementation
from string import punctuation


def tokenize(sentence):
  table = str.maketrans(
      # add leading and trailing space to each punctuation mark
      {mark: f" {mark} " for mark in punctuation}
      )
  # split the sentence at each space
  tokens = sentence.translate(table).split()

  return tokens

### **Count words**
Write a function `count` that accept a potentially infinite number of words and returns a count of how many times each word has appeared.

For example, `count("do", "or", "DO", "not", "there", "is", "no", "try")` should output `{'do': 2, 'is': 1, 'no': 1, 'not': 1, 'or': 1, 'there': 1, 'try': 1}` (remember that dictionary are unordered).

Make sure to handle capitalisation, words such as `"do"` and `"DO"` should be considered the same.

In [ ]:
# your implementation

### **Count words (solution)**

In [ ]:
# count words implementation

def count(*args):
  # join all args in a string and lowercase it
  string = " ".join(args).lower()
  # uses count(), implemented by all sequence types
  counter = {word: string.count(word) for word in string.split()}

  return counter

count("do", "or", "DO", "not", "there", "is", "no", "try")

## **Classes**

### **Class Definition Syntax**

#### ðŸŒŠðŸŒŠ for a deep dive see [\[ 1 \]](https://docs.python.org/3/tutorial/classes.html#a-first-look-at-classes)

In [245]:
class Player:
  def __init__(self, name, role, age):
    self.name = name
    self.role = role
    self.age = age
  
  def __str__(self):
    return f"name: {self.name}, role: {self.role}, age: {self.age}"

  def __repr__(self):
    return "Player(name, role, age)"

yoda = Player("yoda", "jedi", 900)

## **Miscellaneous**

In [246]:
a, b = 4, 0

try:
  print(a / b)
except ZeroDivisionError as z:
  print(str(z))
finally:
  print("finally block")

division by zero
finally block

In [247]:
import requests

url = "https://gist.githubusercontent.com/phillipj/4944029/raw/75ba2243dd5ec2875f629bf5d79f6c1e4b5a8b46/alice_in_wonderland.txt"

response = requests.get(url)
data = response.text